@use './reset';
@use '@app/styles/variables' as *;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  color: $color-black-coal;
  background: $color-white;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (width <= 700px) {
    font-size: 14px;
  }
}

[data-theme='dark'] {
  color-scheme: dark;
  color: $color-dark-text;
  background: $color-dark-bg;
}

#app {
  display: flex;
  flex-direction: row;
}
