$action-bar-height: 50px;
$sidebar-width-desktop: 330px;
$sidebar-width-mobile: 250px;

$DEBUG: false;
$action-bar-height: 50px;
$drawer-width-desktop: 300px;
$drawer-width-mobile: 280px;
$small-font-size: 14px;
$global-font-size: 16px;
$text-font-family: 'Open Sans', sans-serif;
$big-text-font-family: 'Jua';

$gap-tiny: 6px;
$gap-small: 10px;
$gap-medium: 16px;
$gap-large: 20px;
$gap-xlarge: 40px;

$img-size: 30px;
$border-radius: $gap-small;

$border-width-small: 1px;
$border-width-medium: 2px;

// Light theme colors
$color-white: rgb(255, 255, 255);
$color-black-coal-light: rgb(0 0 0 / 40%);
$color-black-coal: rgb(0 0 0 / 80%);
$color-blue-link: rgb(57 112 215);
$color-blue: rgb(57 112 215);
$color-gray-light: rgb(0 0 0 / 5%);
$color-gray-dark: rgb(206 206 206 / 51.5%);
$color-green: rgb(126 196 136);
$color-purple: rgb(138, 43, 226);
$color-gray-icon-bg: rgb(240, 240, 240);
$color-gray-bundle-header: rgb(220, 220, 220);
$color-gray-text-light: rgb(0 0 0 / 50%);
$color-gray-border: rgb(230, 230, 230);

// Dark theme colors
$color-dark-bg: rgb(18, 18, 18);
$color-dark-surface: rgb(30, 30, 30);
$color-dark-surface-elevated: rgb(40, 40, 40);
$color-dark-text: rgb(255, 255, 255);
$color-dark-text-secondary: rgb(200, 200, 200);
$color-dark-text-light: rgb(150, 150, 150);
$color-dark-border: rgb(60, 60, 60);
$color-dark-icon-bg: rgb(40, 40, 40);
$color-dark-bundle-header: rgb(50, 50, 50);
// Light theme tag colors
$color-tag-blue: rgb(59, 130, 246);
$color-tag-purple: rgb(168, 85, 247);
$color-tag-pink: rgb(236, 72, 153);
$color-tag-green: rgb(34, 197, 94);
$color-tag-orange: rgb(249, 115, 22);
$color-tag-red: rgb(239, 68, 68);
$color-tag-yellow: rgb(234, 179, 8);
$color-tag-teal: rgb(20, 184, 166);
$color-tag-brown: rgb(180, 83, 9);
$color-tag-indigo: rgb(99, 102, 241);
$color-tag-gray: rgb(107, 114, 128);

// Dark theme tag colors (darker versions)
$color-dark-tag-blue: rgb(37, 99, 235);
$color-dark-tag-purple: rgb(147, 51, 234);
$color-dark-tag-pink: rgb(219, 39, 119);
$color-dark-tag-green: rgb(22, 163, 74);
$color-dark-tag-orange: rgb(234, 88, 12);
$color-dark-tag-red: rgb(220, 38, 38);
$color-dark-tag-yellow: rgb(202, 138, 4);
$color-dark-tag-teal: rgb(15, 118, 110);
$color-dark-tag-brown: rgb(154, 52, 18);
$color-dark-tag-indigo: rgb(79, 70, 229);
$color-dark-tag-gray: rgb(75, 85, 99);

@mixin desktop {
  @media only screen and (width >= 700px) {
    @content;
  }
}

@mixin mobile {
  @media only screen and (width <= 700px) {
    @content;
  }
}

@mixin done-item {
  text-decoration: line-through;
  color: $color-black-coal-light;
  border: 0;
}
